.cabecalho{
    background-color: rgb(0, 67, 126);
    color: yellow;
    text-align: center;
    margin: auto;
    max-width: 2000;
}
    
.principal{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 162, 255);
}